.dashboard{
    padding:35px;
}

.welcome h1{

    font-size:42px;

    margin-bottom:8px;
}

.welcome p{

    color:#666;

    font-size:18px;
}

.cards{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

    margin-top:40px;
}

.dashboard-card{

    background:white;

    border-radius:20px;

    padding:28px;

    box-shadow:0 12px 30px rgba(0,0,0,.08);

    transition:.35s;
}

.dashboard-card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 45px rgba(37,99,235,.15);
}

.dashboard-card h3{

    color:#888;

    font-size:18px;
}

.dashboard-card h2{

    margin-top:20px;

    font-size:42px;

    color:#111827;
}